<div *ngIf="!item" class="loding-item">
  loading !
</div>
<div *ngIf="item" class="item">
  <header>
    <strong>
      <a [href]='item.url'>{{item.title}}</a>
    </strong>
    <span class="domain">{{item.url | domain}}</span>
  </header>
  <article>
    {{item.score}} points by
    <a href="">{{item.by}}</a>
    {{ (item.time | amFromUnix) | amTimeAgo }}
    <a href="">
      <span *ngIf="item.descendants !== 0">
        {{item.descendants}}
        <span *ngIf="item.descendants === 1">comment</span>
        <span *ngIf="item.descendants > 1">comments</span>
      </span>
      <span *ngIf="item.descendants === 0">discuss</span>
    </a>
  </article>
</div>
